.card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.form-check {
  margin-top: 1rem;
}

.btn {
  transition: transform 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
}