/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(26, 26, 26);
    color: #ffffff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}