<form
  class="d-flex flex-column text-center mx-5"
  #formAddTodo="ngForm"
  (ngSubmit)="onSubmit(formAddTodo)">

  <div class="mb-3">
    <label class="form-label" for="todo">Tâche</label>
    <input
      required
      class="form-control"
      id="todo"
      type="text"
      name="title"
      ngModel>
  </div>

  <div class="mb-3">
    <label class="form-label" for="category">Catégorie</label>
    <select class="form-select mb-3" id="category" name="category" required ngModel>
        <option *ngFor="let category of categories$ | async" [value]="category.id">
          {{ category.name }}
        </option>
    </select>
  </div>
  
  <div class="mb-3">
    <label class="form-label" for="isCompleted">Faite ?</label>
    <input
      class="form-check-input mx-3"
      id="isCompleted"
      type="checkbox"
      name="isCompleted"
      ngModel>
  </div>

  <button class="btn btn-success btn-sm" type="submit" [disabled]="formAddTodo.invalid">Go!</button>
</form>